* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 5px;
}

@font-face {
    src: url(SRC/Poppins-ExtraBold.ttf);
    font-family: "poppins";
}

.containerAll {
    width: 100vw;
    height: 410vh;
    background-image: url(SRC/1536x864\ landing.png);
    background-size: calc(120%);
    background-repeat: no-repeat;
}

.container-landing {
    width: 100%;
    height: 79vh;
    padding-bottom: 6vw;
    /* background-image: url(SRC/1536x864\ landing.png);
    background-size: cover;
    background-repeat: none;
    background-position: 0; */
}


/* navbar classlist */

.header-landing {
    width: 100%;
    height: 10vh;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    font-family: "poppins";
}

.imgHeader-landing {
    width: 5vw;
    height: 15vh;
    align-self: flex-start;
}

.judul-landing {
    font-size: 4vw;
    color: #F1E5D1;
    flex-grow: 1;
    margin-left: 5vh;
    font-weight: 900;
}

.nav-landing {
    display: flex;
    flex-direction: row;
    width: 45vw;
    font-size: 1.5vw;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 900;
    color: #F1E5D1;
    margin-right: 6.5vw;
    gap: 4.5vw;
}

.navTentangkami-landing {
    background-color: #F1E5D1;
    color: #8D493A;
    width: 19vw;
    height: 0vh;
    position: absolute;
    top: 9vh;
    left: 49.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0vw;
    border-radius: 1vw;
    transition: 0.5s;
    overflow: hidden;
}

.shownavTentangkami-landing {
    height: 17vh;
    padding: 0.5vw;
    transition: 0.5s;
}

.navHubungikami-landing {
    background-color: #F1E5D1;
    color: #8D493A;
    width: 19vw;
    height: 0vh;
    position: absolute;
    top: 9vh;
    left: 67.5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding: 0vw;
    border-radius: 1vw;
    transition: 0.5s;
    overflow: hidden;
}

.shownavHubungikami-landing {
    height: 17vh;
    padding: 0.5vw;
    transition: 0.5s;
}

.navLokasi-landing {
    width: 17vw;
    height: 0vh;
    position: absolute;
    top: 9vh;
    left: 78.5vw;
    border: 0vw solid #F1E5D1;
    border-radius: 0.5vw;
    overflow: hidden;
    transition: 0.5s;
}

.shownavLokasi-landing {
    height: 17vh;
    transition: 0.5s;
    border: 1vw solid #F1E5D1;
}


/* content classlist */

.p-landing {
    font-size: 5.5vw;
    font-family: "poppins";
    color: whitesmoke;
    margin-left: 7%;
    margin-top: 1%;
}

.containerBtn-landing {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: end;
}

.btn-landing {
    width: 25%;
    height: 10vh;
    border-radius: 1.5vw;
    font-family: "poppins";
    font-size: 2vw;
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8D493A;
    background-color: #F1E5D1;
}

.containerLamsiPaksi-landing {
    width: 89%;
    height: 0vh;
    position: absolute;
    margin-top: 0.7%;
    transition: 0.5s;
    overflow: hidden;
    margin-left: 7vw;
}

.showcontainerLamsiPaksi-landing {
    height: 20vh;
    transition: 0.5s;
}

.btnLP-landing {
    width: 14%;
    height: 7vh;
    font-size: 1.5vw;
    font-family: "poppins";
    color: #8D493A;
    background-color: #F1E5D1;
    border-radius: 1.5vw;
}

.p2-landing {
    font-size: 2vw;
    color: #F1E5D1;
    font-family: "poppins";
    margin-left: 7%;
    margin-top: 1%;
}

#chevronShopnow-landing {
    transition: 0.4s ease-in-out;
    position: relative;
    left: 13%;
    top: 1%;
}

.sidebar-landing {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100vh;
    background-color: #F1E5D1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    z-index: 1;
}

.showsidebar-landing {
    width: 55vw;
    transition: 0.5s;
}

.closesidebar-landing {
    position: absolute;
    width: 7.5vw;
    height: 4vh;
    top: -4vw;
    left: 45.5vw;
}

.containerSidebar-landing {
    width: 90%;
    height: 100vh;
    top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
}

.judulSidebar-landing {
    font-size: 4.5vh;
    color: #8D493A;
}

.lineSidebar-landing {
    width: 80%;
    height: 0.4vh;
    background-color: #8D493A;
    margin-top: 3vh;
}

.isiSidebar-landing {
    font-size: 2.5vh;
    margin-left: -10%;
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: #8D493A;
}

.subisiSidebar-landing {
    font-size: 2vh;
    color: #8D493A;
    margin-left: -8%;
    height: 0vh;
    transition: 0.3s;
    overflow: hidden;
}

.showsubisiSidebar-landing {
    height: 13vh;
    transition: 0.3s;
}

.imgSidebar-landing {
    width: 36vw;
    height: 11vh;
    border: 3vw solid #8D493A;
    border-radius: 6vw;
    position: relative;
    top: -0.5vh;
}

.decorSidebar-landing {
    width: 100%;
    height: 35vh;
    left: 0;
    bottom: 5vh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 0;
    bottom: 9vw;
    left: 1vw;
    margin-bottom: 5vh;
}

.imgdecorSidebar-landing {
    width: 57%;
    height: 29vh;
}

.p1decorSidebar-landing {
    color: #8D493A;
    font-size: 6vw;
    margin-top: 1vh;
}

.p2decorSidebar-landing {
    color: #8D493A;
    font-size: 7vw;
}

.container-tembakau {
    width: 100%;
    height: 100vh;
    background-image: url(SRC/1536x864.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-weight: 900;
}

.container1-tembakau {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.img-tembakau {
    width: 60%;
    height: 43vh;
    border-radius: 2vw;
    transition: 0.5s;
}

.img-tembakau:hover {
    width: 65%;
    height: 46vh;
    transition: 0.5s;
}

.container2-tembakau {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.p-tembakau {
    font-size: 1.8vw;
    color: whitesmoke;
    margin: 5%;
}

.container-lamsi {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(SRC/1440x810.png);
    background-position: center;
    background-size: 100% 100%;
    font-family: sans-serif;
}

.content-lamsi {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-around;
    gap: 3vw;
    font-weight: 900;
}

.penjelasan-lamsi {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.judul-lamsi {
    display: flex;
    justify-content: center;
    gap: 1vw;
}


/* .isi-lamsi {
      width: 90%;
    } */

.text-lamsi {
    text-align: center;
    color: whitesmoke;
    font-size: 1.5vw;
}

.click-button-lamsi {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
}

.click-button-lamsi button {
    width: 9vw;
    height: 3vw;
    font-size: 1vw;
}

.click-button-lamsi button:hover {
    background-color: black;
    color: #bbb;
}

.picture-lamsi {
    display: flex;
    flex-direction: row;
    margin-top: 0vw;
    gap: 1vw;
}

.Tembakau-lamsi {
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: -0.4vw;
}

.lamsi-lamsi {
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: -0.4vw;
    color: #8d493a;
}

.gambar-1-lamsi {
    width: 14vw;
    height: auto;
    z-index: 1;
}

.gambar-2-lamsi {
    width: 17vw;
    height: auto;
}

.kontol {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.container-paksi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(SRC/1440x810.png);
    background-size: 100% 100%;
    background-position: center;
    font-family: sans-serif;
    font-weight: 900;
}

.kepala-paksi {
    margin-right: 28vw;
}

.kepala-paksi span {
    font-size: 8vw;
    letter-spacing: -0.4vw;
    font-weight: 900;
}

.tembakau-paksi {
    color: #000;
}

.paksi-paksi {
    color: #8d493a;
}

.text-paksi {
    font-size: 1.2vw;
    margin-right: 22vw;
    color: whitesmoke;
    text-align: justify;
}

.background-paksi {
    width: 57vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
}

.layout-paksi {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 9vw;
}

.background2-paksi {
    font-size: 1vw;
    width: 38vw;
    height: auto;
    color: whitesmoke;
    text-align: justify;
    margin-bottom: 1vh;
}

figure {
    margin: 0;
}

.gambar-paksi1 {
    width: 30vw;
    height: auto;
}

.gambar-paksi2 {
    width: 25vw;
    height: auto;
}

.learn-more-paksi {
    display: flex;
    justify-content: center;
}

.learn-more-paksi button {
    width: 7vw;
    height: 4vh;
    font-size: 1.1vw;
}

.learn-more-paksi button:hover {
    background-color: black;
    color: #bbb;
}

footer {
    font-family: none;
    font-weight: 100;
    font-size: 1vw;
}

.container-footer {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.footer-atas {
    background-color: #2d3033;
    color: #ffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20vh;
}

.footer-atas li p {
    font-size: 1.4vw;
}

.footer-atas li a {
    font-size: 1vw;
}

.footer-atas li img {
    width: 2.7vw;
    height: 4vh;
    margin-bottom: 2vh;
}

a {
    text-decoration: none;
}

.footer-bawah {
    background-color: #191c1f;
    height: 80vh;
}

.main-footer {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.position-2-footer {
    display: flex;
    justify-content: space-around;
    width: 50vw;
}

.position-2-footer p {
    font-size: 2vw;
    margin-bottom: 2vh;
}

.position-2-footer a {
    font-size: 1.2vw;
}

.update-footer {
    width: 40vw;
    font-size: 1.2vw;
}

.update-footer h3 {
    font-size: 2.3vw;
    margin-bottom: 2vh;
}

.produk-footer,
.about-footer,
.help-footer {
    display: flex;
    flex-direction: column;
    line-height: 3vh;
    font-size: 1vw;
}

.media-footer {
    margin: 0;
}

.logo li img {
    width: 3vw;
}

.logo {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 50vw;
    margin-bottom: 2vw;
}

.policy-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.list-policy {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-right: 2vw;
}

.list-policy ul {
    width: 13vw;
    font-size: 1.3vw;
    gap: 2vw;
}

.bahasa-footer {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-left: 2vw;
}

.bahasa-footer p {
    font-size: 1.4vw;
}

.bahasa-footer img {
    width: 3vw;
}


/* FONT STYLE */

p,
h3 {
    color: #ffff;
}

a {
    color: #b1b9c5;
}

a:hover {
    color: #ffff;
}

li {
    list-style: none;
}


/* @media screen and (min-width:475px) and (max-width:480px) {
    .container-landing {
        background-image: url(SRC/480x845-Landing.png);
    }

    .imgHeader-landing {
        width: 10%;
        height: 5.5vh;
        margin: 3.5%;
    }

    .judul-landing {
        margin-left: 33.5%;
        font-size: 10vw;
    }

    .nav-landing{
        display: none;
        background-size: 100% 100vh;
    }

    .p-landing {
        font-size: 10vw;
        margin-left: 11%;
    }

    .containerBtn-landing {
        height: 53vh;
    }

    .btn-landing {
        margin-left: 11%;
        width: 53%;
        height: 8vh;
        font-size: 4.5vw;
        border-radius: 4.5vw;
    }

    .containerLamsiPaksi-landing {
        margin-left: 11%;
    }

    .btnLP-landing {
        width: 26%;
        height: 6vh;
        font-size: 3.8vw;
        border-radius: 4.5vw;
    }

    .p2-landing {
        margin-left: 13%;
        font-size: 4.5vw;
    }
} 

@media screen and (min-width:635px) and (max-width:640px) {
    .container-landing {
        background-image: url(SRC/480x845-Landing.png);
    }

    .imgHeader-landing {
        width: 10%;
        height: 5.5vh;
        margin: 3.5%;
    }

    .judul-landing {
        margin-left: 33.5%;
        font-size: 10vw;
    }

    .nav-landing{
        display: none;
        background-size: 100% 100vh;
    }

    .p-landing {
        font-size: 10vw;
        margin-left: 11%;
    }

    .containerBtn-landing {
        height: 53vh;
    }

    .btn-landing {
        margin-left: 11%;
        width: 53%;
        height: 8vh;
        font-size: 4.5vw;
        border-radius: 4.5vw;
    }

    .containerLamsiPaksi-landing {
        margin-left: 11%;
    }

    .btnLP-landing {
        width: 26%;
        height: 6vh;
        font-size: 3.8vw;
        border-radius: 4.5vw;
    }

    .p2-landing {
        margin-left: 13%;
        font-size: 4.5vw;
    }
} 

@media screen and (min-width:763px) and (max-width:768px) {
    .container-landing {
        background-image: url(SRC/480x845-Landing.png);
    }

    .imgHeader-landing {
        width: 10%;
        height: 5.5vh;
        margin: 3.5%;
    }

    .judul-landing {
        margin-left: 33.5%;
        font-size: 10vw;
    }

    .nav-landing{
        display: none;
        background-size: 100% 100vh;
    }

    .p-landing {
        font-size: 10vw;
        margin-left: 11%;
    }

    .containerBtn-landing {
        height: 53vh;
    }

    .btn-landing {
        margin-left: 11%;
        width: 53%;
        height: 8vh;
        font-size: 4.5vw;
        border-radius: 4.5vw;
    }

    .containerLamsiPaksi-landing {
        margin-left: 11%;
    }

    .btnLP-landing {
        width: 26%;
        height: 6vh;
        font-size: 3.8vw;
        border-radius: 4.5vw;
    }

    .p2-landing {
        margin-left: 13%;
        font-size: 4.5vw;
    }
}  */
